<div class="container" ng-controller="InsertCtrl as ctrl">

    <h2>Add Brand & Product</h2>

    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">
            <label for="brand & product no">Brand & product No:</label>
            <input type="number" id="brand & product no" name="brand & product no" class="form-control"
                   ng-model="ctrl.brand.product_no" required>
            <span class="help-block" ng-show="regForm.brand.product_no.$invalid">
                Please enter brand & item number.</span>
        </div>

        <div class="form-group">
            <label for="brand & product name">Brand and Product name:</label>
            <input type="text" id="brand & product name" name="brand & product name" class="form-control"
                   ng-model="ctrl.brand.product_name" required>
            <span class="help-block" ng-show="regForm.brand.product_name.$invalid">
        Please enter brand and product Name.</span>
</div>

        <div class="form-group">
            <label for="brand">Brand:</label>
            <!-- In this select box, ng-options displays select box value as Brand + product_name, however the value that is bounded to the model (ctrl.brand.product_name)
             is the brand & product_no -->
            <select id="brand" name="brand" class="form-control"
                    ng-options="brand.product_no as brand_name + ' ' + product_name
                    for brand.product in ctrl.brand.product"
                    ng-model="ctrl.brand.product" required>
            </select>
            <span class="help-block" ng-show="InputForm.product.$required">
                Please choose a brand.</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn-success form-control"
                    ng-disabled="inputForm.$invalid">
                Input
            </button>
        </div>
    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.success"
         ng-class="{'alert-success': ctrl.status.success == 'ok', 'alert-danger': ctrl.status.success == 'error' }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        {{ ctrl.status.message }}

    </div>

</div>