<div class="container" ng-controller="SearchCtrl as ctrl">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="BrandName" class="form-control" type="text" name="BrandName" ng-model="ctrl.brandName"
                   placeholder="Enter brand name">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Brand
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForBrand.product()">
                Search with Brand & Product Info
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Brand.product No</th>
            <th>Brand.product name</th>
            <th ng-show="ctrl.showBrand">Brand & Product Id</th>
            <th ng-show="ctrl.showBrand">Brand & Prodcut Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="brand in ctrl.brands">
            <td><a ng-click="ctrl.showBrands(brand.product_no)">{{brand.product_no }}</a></td>
            <td>{{ brand.product_name }}</td>
            <td>
            <span ng-show="ctrl.showBrand">
                 <!-- Handles display of brands that have not been assigned any products -->
                {{ brand.products[0] ? brand.products [0].brand.product_no : " "}}
            </span>
            </td>
            <td>
            <span ng-show="ctrl.showProduct">
                 <!-- Handles display of products that have not been assigned any brand -->
                {{ brand.products[0]
                ? (brands.products[0].brand_name + " " + brand.products[0].brand.products_name)
                : " "}}
            </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>